node_modules
.next
out
build
dist
test-results
playwright-report

.env
.env.*
!.env.example

.git
.gitignore

*.log
npm-debug.log*
yarn-error.log*

.DS_Store
Thumbs.db
.vscode
.idea

Dockerfile
.dockerignore
README.md
